  .email-form {
    background-color: #161616; /* Dark background color */
    color:#2e2e2e; /* Light text color */
    padding: 20px;
    border-radius: 8px;
    max-width:600px;
    width: 100%; /* Make sure it fits well on small screens */
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .entire{
    background-color:#2e2e2e;
    height:100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
align-items: center;
  }
  
  .email-input,
  .email-textarea {
    background-color: #2e2e2e; /* Slightly lighter dark color */
    color: #f0f0f0; /* Light text color */
    border: 1px solid #563242; /* Border color */
    border-radius: 4px;
    padding: 10px;
    font-size: 30px;
  }
  
  .email-textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .email-button {
    background-color: #ef4444; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .email-button:hover {
    background-color: #d43f3f; /* Darker shade for hover */
  }
  
  .email-status {
    font-size: 14px;
    font-weight: bold;
  }
  
  .phone-icon {
    color: white;
    font-size: 22px; 
    transition: color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
  }

   
  
    